  <nav id="parentNav">
    <div>
    <h1 class="webTitle">Neon Kaiser</h1>
    <h1 class="webTitle">Neon Kaiser</h1>
    <h1 class="webTitle">Neon Kaiser</h1>
    </div>
    <a class="portfolioLink" href="portfolio.html">Portfolio</a>
    <a href="https://github.com/NeonAdNauseam"><img src="Images/github.png" alt="https://cdn-icons-png.flaticon.com/512/25/25231.png"> Github</a>
    <a href="https://codepen.io/NeonArceuthobium"><img src="Images/2284634.webp" alt="https://cdn.iconscout.com/icon/premium/png-256-thumb/codepen-2749244-2284634.png?f=webp"> Codepen</a>
    <a href="https://www.youtube.com/@neonsmith2802/videos"><img src="Images/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.webp" alt="https://static.vecteezy.com/system/resources/thumbnails/023/986/739/small/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png">YouTube</a>
  </nav>

<style> </style>