---
import Face1 from './screens/Face1.astro'
import Face2 from './screens/Face2.astro'
import Face3 from './screens/Face3.astro'
import Face4 from './screens/Face4.astro'
---

<div class="cube-wrapper">
  <div class="cube" id="cube">
    <div class="face face-1"><Face1 /></div>
    <div class="face face-2"><Face2 /></div>
    <div class="face face-3"><Face3 /></div>
    <div class="face face-4"><Face4 /></div>
  </div>
</div>

<style>
:root {
  --rotation: 0deg;
}

.cube-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  perspective: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cube {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotation));
  transition: transform 0.6s ease-in-out;
  position: relative;
}

.face {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: #1a1a1a;
  color: white;
}


.face-1 { transform: rotateY(  0deg) translateZ(500px) rotateY(180deg); }
.face-2 { transform: rotateY( 90deg) translateZ(500px) rotateY(180deg); }
.face-3 { transform: rotateY(180deg) translateZ(500px) rotateY(180deg); }
.face-4 { transform: rotateY(270deg) translateZ(500px) rotateY(180deg); }


    
</style>

<script is:inline>
  let currentFace = 0

  function updateCubeRotation() {
    const angle = -90 * currentFace
    document.documentElement.style.setProperty('--rotation', `${angle}deg`)
  }

  document.addEventListener('keydown', (e) => {
    if (e.key === 'ArrowLeft') {
      currentFace = (currentFace + 1) 
      updateCubeRotation()
    }
    if (e.key === 'ArrowRight') {
      currentFace = (currentFace - 1 )
      updateCubeRotation()
    }
  })

  updateCubeRotation()
</script>
